* {
    font-family: 'Baloo Thambi 2', cursive;
}

body {
    background-color: #f2fafc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;  
}

#start-button {
    position: absolute;
    width: 200px;
    height: 100px;
    font-size: 2em;
    border-radius: 10px;
    background-color: rgba(77, 77, 77, 0.4);
    color: white;
}

#title {
    letter-spacing: 10px;
}

#start-button:hover {
    position: absolute;
    width: 200px;
    height: 100px;
    font-size: 2em;
    border-radius: 10px;
    background-color: rgba(17, 77, 77, 0.4);
    color: white;
}

#instructions {
    position: absolute;
    width: 500px;
    height: 880px;
    background-color: rgba(77, 77, 77, 0.4);
    margin-top: 120px;
    padding: 30px;
    border-radius: 10px;
    color: white;
}

#instructions-list {
    list-style-type: none;
}

.instruction-icon {
    width: 30px;
}

#instructions-header {
    margin-left: -40px;
}

canvas {
    background-image: url('../images/world_map_bw.jpg');
    background-size: 1200px 800px;
    background-position: 55% 0;
    box-shadow: 6px 6px 1px rgba(77, 77, 77, 0.4);
    border-radius: 10px;
    visibility: hidden;
}

#explorer-stats {
    color: white;
    width: 260px;
    height: 130px;
    position: absolute;
    visibility: hidden;
    font-size: 1.5em;
    background-color: rgba(77, 77, 77, 0.4);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: -550px;
}

#arrows {
    width: 140px;
    margin-top: 30px;
}

#arrows-span {
    display: inline-block;
    margin-left: 20px;
    width: 300px;
}

#demo {
    width: 400px;
    border-radius: 10px;
    margin-left: 40px;
}

#pause-button {
    width: 50px;
    display: inline-block;
}

.explorer-stats-list {
    list-style-type: none;
    margin-top: -15px;
    font-size: 0.75em;
    display: inline-block;
}

.explorer-stats-list-item {
    margin-left: -30px;
    
}

#explorer-stats h3 {
    margin: 10px 10px;
    letter-spacing: 2px;
}

#explorer-health {
    margin-top: -40px;
    margin-left: 3px;
}

#current-position {
    display: inline-block;
    width: 100px;
    margin-left: 8px;
    padding-bottom: 5px;
}

#heart-icon {
    width: 35px;
    height: 35px;
    margin-left: -35px;
}

#pin-icon {
    width: 24px;
    height: 24px;
    margin-left: -30px;
    margin-top: 10px;
}

aside {
    visibility: hidden;
    background-color: rgba(77, 77, 77, 0.4);
    width: 280px;
    height: 800px;
    box-shadow: 6px 6px 1px rgba(58, 58, 58, 0.9);
    border-radius: 10px;
}

#title-aside {
    font-size: 2em;
    margin: 0.5em 0.5em;
    color: white;
}

#subtitle-aside {
    font-size: 1.5em;
}

.sidebar-list {
    background-color: white;
    color: rgba(77, 77, 77);
    border-radius: 10px;
    list-style-type: none;
    width: 220px;
    height: 300px;
    margin: 20px 20px;
    padding: 10px 10px;
}

.sidebar-list-item {
    font-weight: bolder;
    color: black;
}

#sidebar2 {
    margin-top: 50px;
}

#cases-descriptor {
    margin-top: -20px;
    color: #093047;
    font-size: 1.5em;
}

#cases {
    font-size: 2.4em;
    /* letter-spacing: 0.1em; */
    color: #093047;
}

#deaths-descriptor {
    margin-top: -20px;
    color: maroon;;
    font-size: 1.5em;
}

#deaths {
    color: maroon;
    font-size: 2.4em;
    /* letter-spacing: 0.1em; */
    
}

#health-score {
    color: #b56533;
    font-size: 2.4em;
    /* letter-spacing: 0.1em; */
}

#health-score-descriptor {
    color: #b56533;
    margin-top: -20px;
    font-size: 1.5em;
}

#current-country {
    font-size: 1.6em;
    letter-spacing: 0.1em;
}

.checkmarks {
    width: 15px;
}