* {
    font-family: 'Baloo Thambi 2', cursive;
}

body {
    background-color: #f2fafc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;  
}

@media (max-width: 500px) {
    body {
        width: 300px;
        height: 600px;
        display: flex;
        flex-direction: column;
        background-color: initial;
        
    }
}

#start-button {
    position: absolute;
    width: 200px;
    height: 100px;
    font-size: 2em;
    border-radius: 10px;
    background-color: rgba(77, 77, 77, 0.4);
    color: white;
}

@media (max-width: 500px) {
    #start-button {
        visibility: hidden;
    }
}

@media (min-width: 500px) {
    #start-button:hover {
        position: absolute;
        width: 200px;
        height: 100px;
        font-size: 2em;
        border-radius: 10px;
        background-color: rgba(17, 77, 77, 0.4);
        color: white;
    }
}

#start-button-mobile {
    width: 200px;
    height: 100px;
    font-size: 2em;
    border-radius: 10px;
    background-color: rgba(77, 77, 77, 0.4);
    color: white;
    margin-top: 460px;
    margin-left: 10px;
    width: 420px;
    position: absolute;
    visibility: visible;
}

@media (min-width: 500px) {
    #start-button-mobile {
        visibility: hidden;
    }
}

@media (max-width: 500px) {
    #start-button {
        visibility: hidden;
    }
}

#title {
    letter-spacing: 10px;
    margin-left: 50px;
}

#instructions {
    position: absolute;
    width: 500px;
    height: 880px;
    background-color: rgba(77, 77, 77, 0.4);
    margin-top: 120px;
    padding: 30px;
    border-radius: 10px;
    color: white;
}

@media (max-width: 500px) {
    #instructions {
        margin-top: 60px;
        margin-left: 10px;
        width: 360px;
        height: 600px;
        /* margin-top: 640px; */
    }
}

#instructions-list {
    list-style-type: none;
}

.instruction-icon {
    width: 30px;
}

#instructions-header {
    margin-left: -40px;
}

canvas {
    background-image: url('../images/world_map_bw.jpg');
    background-size: 1200px 800px;
    background-position: 55% 0;
    box-shadow: 6px 6px 1px rgba(77, 77, 77, 0.4);
    border-radius: 10px;
    visibility: hidden;
}

@media (max-width: 500px) {
    #canvas {
        width: 460px;
        height: 334px;
        box-shadow: initial;
        background-size: 460px 335px;
    }
}

#winner-popup {
    color: white;
    width: 400px;
    height: 300px;
    margin-top: 200px;
    margin-left: -120px;
    position: absolute;
    background-color: rgba(77, 77, 77, 0.7);
    border: solid 0.5px rgba(77, 77, 77, 0.8);
    border-radius: 15px;;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#winner-popup > h3 {
    font-size: 2.5em;
    margin: 5px;
}

#winner-popup > p {
    font-size: 1.5em;
}

#play-again-button {
    width: 200px;
    height: 100px;
    font-size: 2em;
    border-radius: 10px;
    background-color: rgba(77, 77, 77, 0.9);
    color: white;
}

#play-again-button:hover {
    width: 200px;
    height: 100px;
    font-size: 2em;
    border-radius: 10px;
    background-color: rgba(17, 77, 77, 0.4);
    color: white;
}




#explorer-stats {
    color: white;
    width: 260px;
    height: 130px;
    position: absolute;
    visibility: hidden;
    font-size: 1.5em;
    background-color: rgba(77, 77, 77, 0.4);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: -550px;
}

#arrows {
    width: 140px;
    margin-top: 30px;
}

@media (max-width: 500px) {
    #arrows {
        visibility: hidden;
    }
}

#arrows-span {
    display: inline-block;
    margin-left: 20px;
    width: 300px;
}

@media (max-width: 500px) {
    #arrows-span {
        visibility: hidden;
    }
}

@media (max-width: 500px) {
    hr {
        visibility: hidden;
    }
}

#demo {
    width: 400px;
    border-radius: 10px;
    margin-left: 40px;
}

@media (max-width: 500px) {
    #demo {
        visibility: hidden;
    }
}

#pause-button {
    width: 50px;
    display: inline-block;
}

.explorer-stats-list {
    list-style-type: none;
    margin-top: -15px;
    font-size: 0.75em;
    display: inline-block;
}

.explorer-stats-list-item {
    margin-left: -30px;
    
}

#explorer-stats h3 {
    margin: 10px 10px;
    letter-spacing: 2px;
}

#explorer-health {
    margin-top: -40px;
    margin-left: 3px;
}

#current-position {
    display: inline-block;
    width: 100px;
    margin-left: 8px;
    padding-bottom: 5px;
}

#heart-icon {
    width: 35px;
    height: 35px;
    margin-left: -35px;
}

#pin-icon {
    width: 24px;
    height: 24px;
    margin-left: -30px;
    margin-top: 10px;
}

aside {
    visibility: hidden;
    background-color: rgba(77, 77, 77, 0.4);
    width: 280px;
    height: 800px;
    box-shadow: 6px 6px 1px rgba(58, 58, 58, 0.9);
    border-radius: 10px;
}

@media (max-width: 500px) {
    aside #sidebar {
        visibility: hidden;
    }
}

#title-aside {
    font-size: 2em;
    margin: 0.5em 0.5em;
    color: white;
}

@media (max-width: 500px) {
    #title-aside {
        visibility: hidden;
    }
}

#subtitle-aside {
    font-size: 1.5em;
}

@media (max-width: 500px) {
    #sidebar {
        height: 100px;
        background-color: initial;
        box-shadow: initial;
        margin-top: -40px;
    }
}

.sidebar-list {
    background-color: white;
    color: rgba(77, 77, 77);
    border-radius: 10px;
    list-style-type: none;
    width: 220px;
    height: 280px;
    margin: 20px 20px;
    padding: 10px 10px;
}

@media (max-width: 500px) {
    #sidebar-list {
        width: 300px;
        height: 100px;
        margin-top: 10px;
    }
}

.sidebar-list-item {
    font-weight: bolder;
    color: black;
}

#sidebar2 {
    margin-top: 50px;
}

@media (max-width: 500px) {
    #sidebar2 {
        visibility: hidden;
    }
}

#cases-descriptor {
    margin-top: -20px;
    color: #093047;
    font-size: 1.5em;
}

#cases {
    font-size: 2.4em;
    /* letter-spacing: 0.1em; */
    color: #093047;
}

#deaths-descriptor {
    margin-top: -20px;
    color: maroon;;
    font-size: 1.5em;
}

#deaths {
    color: maroon;
    font-size: 2.4em;
    /* letter-spacing: 0.1em; */
    
}

#health-score {
    color: #b56533;
    font-size: 2.4em;
    /* letter-spacing: 0.1em; */
}

#health-score-descriptor {
    color: #b56533;
    margin-top: -20px;
    font-size: 1.5em;
}

#current-country {
    font-size: 1.6em;
    letter-spacing: 0.1em;
}

.checkmarks {
    width: 15px;
}

.mobile-controls {
    background-color:initial;
    color: initial;
    width: 50px;
    visibility: hidden;
}

/* @media (max-width: 500px) {
    .mobile-controls {
        visibility: hidden;
    }
} */
